



.container{
	background-color: grey;
	display:  flex;
	padding: 10px;
	flex-direction: column;
   
height: 100vh;
}

.contendor_todo{
padding: 20px;
	margin: auto;
 display:  flex;
 flex-direction: column;
 background-color: aliceblue;
 
}



.contendor_header{
  display:  flex;
  justify-content: space-between;

}

.contendor_header h1{
	font-size: 1.5rem;
}


.btn_registrar{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
}


.contenedor_formulario{
	display:  flex;
	flex-direction: column;
	padding: 20px;
}

.contenedor_formulario form {
	margin: auto;
	justify-content: space-between;
}

.input_label{
	display:  flex;
	gap: 20px;
}




.contenedor_tabla table{
  padding: 0;
  margin: 0;
}


.contenedor_tabla thead{
	background-color: red;

}

.contenedor_tabla th{
	padding: 5px 10px;
		font-size: 1rem;
		border-radius: 5px;
}

.contenedor_tabla tbody{
padding: 5px;
}